.form {
  max-width: 600px;
}
.form div {
  display: inline-block;
  min-width: 280px;
  line-height: 2em;
  vertical-align: top;
}
.form label {
  display: inline-block;
  width: 100px;
}
.form label::after {
  content: "：";
}
.form input[type="text"],
.form input[type="range"],
.form input[type="color"],
.form select {
  width: 160px;
}
